<!-- this is a template foa any new to be made page  -->

{% extends "base.html" %}

{% block title %}
<!-- title to be give -->
{% endblock %}


{% block home %}
<!-- remove un to activate   -->  
 unactive 
{% endblock %}


{% block login %}
<!-- remove un to activate   -->  
 unactive 
{% endblock %}

{% block register %}
<!-- remove un to activate   -->  
 unactive 
{% endblock %}

{% block head %} 

<!-- content for head  -->

{% endblock %}



{% block content %}

<!-- content to be given laler -->


 <style>.container{
            text-align: center; 
            margin: auto, 
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            
        }
        .errorlist{
            color :red
        }
        input{
            display:block;width:80%;height:calc(1.5em + .75rem + 2px);padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            margin: auto, 
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            text-align : center:
            
        }
</style>


<div class="jumbotron  container text_center man">
    

  <div class="container man" >
    <h1 class="display-4">Create Question Paper</h1>
    <hr class="my-4">
    <p> All 10 Question are MCQ's</p>
    <p class="lead">
        <form action='' method='post'>
        {% csrf_token %}
        <h6> Creator is Your Username and Subject. </h6>
        {{form.as_p}}
        
        <button name="submit" type="submit" class="btn btn-outline-light">Submit</button>
        </form>
    </p>
    <hr class="my-4">
  </div>
</div>

{% endblock %}