

{% extends "base.html" %}

{% block title %}
Register As Teacher
{% endblock %}


{% block home %}
<!-- remove un to activate   -->  
 unactive 
{% endblock %}


{% block login %}
<!-- remove un to activate   -->  
 unactive 
{% endblock %}

{% block register %}
<!-- remove un to activate   -->  
 active 
{% endblock %}

{% block head %} 

<!-- content for head  -->

{% endblock %}



{% block content %}

<!-- content to be given laler -->


 <style>.container{
            text-align: center; 
            margin: auto, 
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            
        }
        .errorlist{
            color :red
        }
</style>


<div class="jumbotron  container text_center man">
    

  <div class="container man" >
    <h1 class="display-4">Register As Teacher</h1>
    <hr class="my-4">
    <p class="lead">
        <form action='' method='post'>
        {% csrf_token %}
        {{form.as_p}}
        <button name="submit" type="submit" class="btn btn-outline-light">Submit</button>
        </form>
    </p>
    <hr class="my-4">
  </div>
</div>

{% endblock %}