{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}


{% block home %}
<!-- remove un to activate  -->  
active
{% endblock %}


{% block login %}
<!-- remove un to activate  -->  
unactive
{% endblock %}


{% block content %}

<!-- content to be given laler -->

{{allert}}

<div class="container">
    <div class="jumbotron" style='color : white'>
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">
        TestMe is a Free and easy way to create and give test online.<br>
        Just Register as Student and Log In to give a test.<br>
        For Teacher, Just Register as Teacher and Log In to create Test and See all Answer. 
        
        </p>
        <hr class="my-4">
        <p>Click below to start test.</p>
        <a class="btn btn-outline-light btn-lg" href="login" role="button" style="background-color:  rgb(92, 92, 92);">Start</a>
    </div>
</div>

{% endblock %}